{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>PyFSM</title>
    <style>

    </style>
</head>
<body>
<div class="container-fluid" style="padding-bottom: 3em">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 id="head" class="text-center" style="padding-top: 1em;padding-bottom: 1em">
                PyFSM
            </h1>
            <ul class="nav nav-pills nav-fill" role="tablist" style="margin-bottom: 3em">
                <li class="nav-item" style="font-weight: 700; font-size: 1.125em;"><a id="ocl1"
                                                                                      style="border: 1px solid black;border-radius: 0.25rem; border-top-right-radius: 0;border-bottom-right-radius: 0"
                                                                                      class="nav-link active"
                                                                                      data-toggle="pill" href="#oc1"
                                                                                      role="tab" aria-controls="oc1"
                                                                                      aria-selected="true">File Mode</a>
                </li>
                <li class="nav-item" style="font-weight: 700; font-size: 1.125em; ">
                    <a id="ocl2" style="border: 1px solid black;border-radius: 0"
                       class="nav-link" data-toggle="pill" href="#oc2" role="tab" aria-controls="oc2"
                       aria-selected="false">GUI
                        Mode</a></li>
                <li class="nav-item" style="font-weight: 700; font-size: 1.125em; ">
                    <a id="ocl3"
                       style="border: 1px solid black;border-radius: 0.25rem; border-top-left-radius: 0;border-bottom-left-radius: 0"
                       class="nav-link" data-toggle="pill" href="#oc3" role="tab" aria-controls="oc3"
                       aria-selected="false">Sequence Detection</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="oc1" role="tabpanel" aria-labelledby="ocl1">
                    <div class="card">
                        <!--<h5 class="card-header">File Upload</h5>-->
                        <div class="card-body">
                            <form action="/gui/file_upload/" enctype="multipart/form-data" method="post">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="file" id="inputGroupFile01"
                                               aria-describedby="inputGroupFileAddon01" required>
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>
                                <button type="submit" class="form-control btn btn-success">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="oc2" role="tabpanel" aria-labelledby="ocl2">
                    <div class="card">
                        <!--<h5 class="card-header">FSM Generator</h5>-->
                        <div class="card-body">
                            <form action="/gui/submit/" method="post">
                                <div class="dropdown form-inline mb-3">
                                    <label>Machine Type:</label>
                                    <select onclick="select_type()" class="form-control ml-2" id="select" name="type">
                                        <option value="Moore" selected="selected">Moore Machine</option>
                                        10
                                        <option value="Mealy">Mealy Machine</option>
                                    </select>
                                </div>
                                <div id="moore" style="display: none;">
                                    <div class="form-inline mb-3">
                                        <label>Name of the module:</label>
                                        <input class="form-control ml-2" type="text" id="name" name="name"
                                               placeholder="Module Name">
                                    </div>
                                    <div class="dropdown form-inline mb-3">
                                        <label>Encoding:</label>
                                        <select class="form-control ml-2" name="encoding">
                                            <option value="binary" selected="selected">Binary Encoding</option>
                                            <option value="gray">Gray Encoding</option>
                                            <option value="onehot">One Hot Encoding</option>
                                            <option value="onecold">One Cold Encoding</option>
                                        </select>
                                    </div>
                                    <div class="form-inline mb-3">
                                        <label class="control-label">Input Size:</label>
                                        <input class="form-control ml-2" type="text" id="input_size" name="input_size">
                                    </div>
                                    <hr>
                                    <div class="form-group" id="state_container">
                                        <h3>State Description</h3>
                                        <div class="form-inline mb-3">
                                            <label>Start State:</label>
                                            <input type="text" id="start" name="start" class="form-control ml-2"
                                                   placeholder="Start State">
                                        </div>
                                        <div id="moore_0" class="form-inline mb-3" name="0">
                                            <input class="form-control" type="text" name="state_name0"
                                                   placeholder="State Name"> <span
                                                class="ml-2 mr-2">gives</span>
                                            <input class="form-control" type="text"
                                                   name="state_output0"
                                                   placeholder="State Output">
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary" onclick="func('moore')">Add State
                                    </button>
                                    <hr>
                                    <div class="form-group" id="transition_container">
                                        <h3>Transition Description</h3>
                                        <div id="tmoore_0" name="0" class="form-inline mb-3">
                                            <input class="form-control" type="text" name="state0"
                                                   placeholder="Present State"> <span
                                                class="ml-2 mr-2">to</span> <input
                                                class="form-control" type="text"
                                                name="next_state0"
                                                placeholder="Next State"> <span class="ml-2 mr-2">on</span>
                                            <input class="form-control" type="text" name="input0" placeholder="Input">
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary" onclick="funci('moore')">Add
                                        Transition
                                    </button>
                                    <hr>
                                    <br>
                                    <h3>Testbench Generation (optional)</h3>
                                    <div class="form-inline mb-2">
                                        <input class="form-control" type="text" name="test_in"
                                               placeholder="Testing Sequence">
                                    </div>
                                    <div class="form-group" id="constraints_container">
                                        <h3>Constraints (Optional)</h3>
                                        <textarea class="form-control" id="constraints" name="constraints"
                                                  rows="5" placeholder="connect clk to BUTTON M"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-success form-control">Submit</button>
                                </div>
                                <div id="mealy" style="display: none;">
                                    <div class="form-inline mb-3">
                                        <label>Name of the module:</label>
                                        <input class="form-control ml-2" type="text" id="mname" name="mname"
                                               placeholder="Module Name">
                                    </div>
                                    <div class="dropdown form-inline mb-3">
                                        <label>Encoding:</label>
                                        <select class="form-control ml-2" name="mencoding">
                                            <option value="binary" selected="selected">Binary Encoding</option>
                                            <option value="gray">Gray Encoding</option>
                                            <option value="onehot">One Hot Encoding</option>
                                            <option value="onecold">One Cold Encoding</option>
                                        </select>
                                    </div>
                                    <div class="form-inline mb-3">
                                        <label class="control-label">Input Size:</label>
                                        <input class="form-control ml-2" type="text" id="minput_size"
                                               name="minput_size">
                                    </div>
                                    <hr>
                                    <div class="form-group" id="mstate_container">
                                        <h3>State Description</h3>
                                        <div class="form-inline mb-3">
                                            <label>Start State:</label>
                                            <input type="text" id="mstart" name="mstart" class="form-control ml-2"
                                                   placeholder="Start State">
                                        </div>
                                        <div id="mealy_0" class="form-inline mb-3" name="0">
                                            <input class="form-control" type="text" name="mstate_name0"
                                                   placeholder="State Name">
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary" onclick="func('mealy')">Add State
                                    </button>
                                    <hr>
                                    <div class="form-group" id="mtransition_container">
                                        <h3>Transition Description</h3>
                                        <div id="tmealy_0" name="0" class="form-inline mb-3">
                                            <input class="form-control" type="text" name="mstate0"
                                                   placeholder="Present State"> <span
                                                class="ml-2 mr-2">to</span> <input
                                                class="form-control" type="text"
                                                name="mnext_state0"
                                                placeholder="Next State"> <span class="ml-2 mr-2">on</span>
                                            <input class="form-control" type="text" name="minput0" placeholder="Input">
                                            <span class="ml-2 mr-2">gives</span>
                                            <input class="form-control" type="text" name="moutput0"
                                                   placeholder="Output">
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary" onclick="funci('mealy')">Add
                                        Transition
                                    </button>
                                    <hr>
                                    <br>
                                    <h3>Testbench Generation (optional)</h3>
                                    <div class="form-inline mb-2">
                                        <input class="form-control" type="text" name="mtest_in"
                                               placeholder="Testing Sequence">
                                    </div>
                                    <div class="form-group" id="mconstraints_container">
                                        <h3>Constraints (Optional)</h3>
                                        <textarea class="form-control" id="mconstraints" name="mconstraints"
                                                  rows="5" placeholder="connect clk to BUTTON M"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-success form-control">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="oc3" role="tabpanel" aria-labelledby="ocl1">
                    <div class="card">
                        <div class="card-body">
                            <form action="/gui/seq_det/" method="post">
                                <div class="dropdown form-inline mb-3">
                                    <label>Machine Type:</label>
                                    <select class="form-control ml-2" id="seqselect" name="type">
                                        <option value="Moore" selected="selected">Moore Machine</option>
                                        <option value="Mealy">Mealy Machine</option>
                                    </select>
                                </div>
                                <div class="form-inline mb-3">
                                    <label>Name of the module:</label>
                                    <input class="form-control ml-2" type="text" id="seqname" name="name"
                                           placeholder="Module Name">
                                </div>
                                <div class="dropdown form-inline mb-3">
                                    <label>Encoding:</label>
                                    <select class="form-control ml-2" name="enc">
                                        <option value="binary" selected="selected">Binary Encoding</option>
                                        <option value="gray">Gray Encoding</option>
                                        <option value="onehot">One Hot Encoding</option>
                                        <option value="onecold">One Cold Encoding</option>
                                    </select>
                                </div>
                                <div class="form-inline mb-3">
                                    <label>Sequence:</label>
                                    <input class="form-control ml-2" type="text" id="inp" name="input"
                                           placeholder="Sequence" required>
                                </div>
                                <div class="dropdown form-inline mb-3">
                                    <label>Sequence Type:</label>
                                    <select class="form-control ml-2" name="seq_type">
                                        <option value="ov" selected="selected">Overlapping</option>
                                        <option value="nonov">Non-overlapping</option>
                                    </select>
                                </div>
                                <div class="form-inline mb-3">
                                    <label>Test Bench Sequence:</label>
                                    <input class="form-control ml-2" type="text" id="TB" name="tb"
                                           placeholder="Test Bench Sequence">
                                </div>
                                <div class="mb-2">
                                    <button type="button" class="btn btn-primary" id="display" onclick="display_d()">Add
                                        Constraints
                                    </button>
                                </div>
                                <div id="seq_constraints_container" class="form-group" style="display: none;">
                                    <div class="form-inline mb-3">
                                        <span class="ml-2 mr-2">Connect Clock with </span>
                                        <div class="dropdown form-inline mb-3">
                                            <select class="form-control ml-2" name="clk"
                                                    onchange="halwa(value + 'clk_no')">
                                                <option value="BUTTON">BUTTON</option>
                                                <option value="SWITCH" selected="selected">
                                                    SWITCH
                                                </option>
                                            </select>
                                            <input class="form-control ml-2" type="text" id="clk_no" name="clk_no"
                                                   placeholder="Number" required>
                                        </div>
                                    </div>
                                    <div class="form-inline mb-3">
                                        <span class="ml-2 mr-2">Connect Reset with </span>
                                        <div class="dropdown form-inline mb-3">
                                            <select class="form-control ml-2" name="reset"
                                                    onchange="halwa(value + 'rst_no')">
                                                <option value="BUTTON">BUTTON</option>
                                                <option value="SWITCH" selected="selected">
                                                    SWITCH
                                                </option>
                                            </select>
                                            <input class="form-control ml-2" type="text" id="rst_no" name="rst_no"
                                                   placeholder="Number" required>
                                        </div>
                                    </div>
                                    <div class="form-inline mb-3">
                                        <span class="ml-2 mr-2">Connect Input with </span>
                                        <div class="dropdown form-inline mb-3">
                                            <select class="form-control ml-2" name="input_pin"
                                                    onchange="halwa(value + 'inp_no')">
                                                <option value="BUTTON">BUTTON</option>
                                                <option value="SWITCH" selected="selected">
                                                    SWITCH
                                                </option>
                                            </select>
                                            <input class="form-control ml-2" type="text" id="inp_no" name="inp_no"
                                                   placeholder="Number" required>
                                        </div>
                                    </div>
                                    <div class="form-inline mb-3">
                                        <span class="ml-2 mr-2">Connect Output with LED </span>
                                        <div class="dropdown form-inline mb-3">
                                            <input class="form-control ml-2" type="text" id="out_no" name="out_no"
                                                   placeholder="Number" required>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="form-control btn btn-success">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="{% static 'scripti.js' %}"></script>
<script type="text/javascript">
    select_type();
</script>
</body>
</html>